.home {
  font-size: 10px;
}

.name, .nav, .list {
  display: inline-block; 
}

.header {
  display: flex;
  justify-content: space-between;
  color: #070783fd;
  font-weight: 600;
  height: 50px;
  margin: 20px 30px 60px 0;
}

.name {
  font-size: 1.8rem;
  margin-left: 20px; 
}

.menu {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  font-size: 1rem
}

.list {
  width: 100px;
  height: 50px;
}

.content {
  position: relative;
}

.content__img {
  position: relative;
  z-index: 20;
  margin-left: auto;
  display: block;
  width: 48%;
}

.content__ttl {
  position: absolute;
  top: 58%;
  z-index: 10;
  width: 75%;
  height: 40%;
  margin-left: auto;
}

.ttl {
  margin-bottom: auto;
  font-size: 3.2rem;
  font-weight: 400;
}

.blank {
  margin-top: -15px;
  background: #070783fd;
  height: 100%;
}